In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'col1': ['a','a','a','a','b','b','b','c'],
                   'col2': ['a1','a3','a1','a10','b1','b1','b5','c1'],
                   'col3': [10,30,40,30,10,10,20,100]})
df

  col1 col2  col3
0    a   a1    10
1    a   a3    30
2    a   a1    40
3    a  a10    30
4    b   b1    10
5    b   b1    10
6    b   b5    20
7    c   c1   100

In [3]:
df_groupby = df['col3'].groupby(df.col1).sum()
#df_groupby = df.groupby(['col1'])['col3'].sum()

df_groupby = df_groupby.reset_index()
df_groupby.rename(columns={'col3': 'col3_sum'},
                  inplace=True)

df_groupby

  col1  col3_sum
0    a       110
1    b        40
2    c       100

In [4]:
df_groupby['gubn'] = df_groupby['col3_sum'].apply(lambda x : 'Y' if x < 100 else 'N')
df_groupby

  col1  col3_sum gubn
0    a       110    N
1    b        40    Y
2    c       100    N

In [5]:
y_list = list(df_groupby[df_groupby.gubn == 'Y']['col1'].values)

df[df.col1.isin(y_list)]

  col1 col2  col3
4    b   b1    10
5    b   b1    10
6    b   b5    20

In [6]:
df2 = pd.DataFrame({'x': ['a','b','b'],
                    'x1': ['a','a','b'],
                    'x2': ['a','c','a']})
df2

   x x1 x2
0  a  a  a
1  b  a  c
2  b  b  a

In [7]:
df2[df2.isin(['a'])]

     x   x1   x2
0    a    a    a
1  NaN    a  NaN
2  NaN  NaN    a